<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<html lang="en-GB">
    <head>
        <title>SVG Illustrator Test</title>
        <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
        <script src="http://cdn.socket.io/stable/socket.io.js"></script>
        <script src="/js/webmap.js"></script>
    </head>
    <body>

        <embed src="/media/WEBMAP-FERDIG.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%" alt="You need a browser that supports svg to see something cool here" />

        <input id="destination" value="facebook.com"><input type="button" value="Follow the path" id="trace_btn">

    </body>
</html>